body h1 {
  font-weight: 400;
  font-size: 4rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  position: absolute;
  display: none;
}
.navbar-brand img {
  width: 115px;
  height: 100%;
  padding-left: 4rem;
}

@media (max-width: 991px) {
  .navbar-brand {
    display: block;
  }
}
/* Services */
.services {
  display: flex;
  flex-direction: column;
}
.services .row {
  --bs-gutter-x: 0rem;
}
.services .services p {
  line-height: 2rem;
  text-align: left;
  /* font-size: 1.2rem; */
  margin: 3rem;
  padding: 0;
}
.services .services h2 {
  font-weight: 100;
}
.services .services-container {
  background-color: #212529;
  margin: 0.1rem;
  color: white;
  margin-bottom: 0.3rem;
}

/* Teams Section */
.contenteam {
  padding-bottom: 10rem;
}

.contenteam p {
  font-size: 1.4rem;
  padding: 0 4rem;
  line-height: 1.7rem;
}

@media only screen and (max-width: 575px) {
  .contenteam {
    padding-bottom: 0rem;
  }
}
/* .team {
  padding: 0 0 10rem;
}  */
#team .row {
  --bs-gutter-y: 0.2rem;
  --bs-gutter-x: 0.5rem;
}

.team h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 2;
  letter-spacing: 10px;
}

@media (min-width: 1200px) {
  .top-separator {
    top: -48px;
  }
  #facts .bottom-separator {
    bottom: -48px;
  }
}
.member-thumb {
  overflow: hidden;
  position: relative;
}

.team-member span {
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
  opacity: 0.5;
}

.member-thumb .overlay h6 {
  font-size: 15px;
  line-height: 24px;
  margin-top: 50%;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.member-thumb .overlay p {
  font-size: 15px;
  padding: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 100px;
}

.member-thumb .overlay {
  padding: 100px 0;
  line-height: 24px;
}

.team-member h6 {
  font-size: 15px;
  font-family: "Cantarell", "Times New Roman", sans-serif;
  line-height: 10px;
  margin: 30px 0 15px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}

.team-member:hover h6 {
  color: rgb(255, 255, 255);
}

.social-links {
  font-size: 13px;
  cursor: pointer;
}

.social-links a {
  display: inline-block;
  padding: 3px 7px;
  color: #333;
}

.social-links a:hover {
  text-decoration: none;
  color: #000;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
}

.overlay {
  /* background-color: rgb(255, 255, 255); */
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 7px;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.5s ease 0s;
  transition: all 850ms ease-in-out;
}

.team1btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.team2btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 1.2rem;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.member-thumb .overlay {
  /* cursor: url(../assets/img/eye.png), auto; */
  display: none;
  opacity: 0.9;
  transform: rotateY(0deg) scale(1, 1);
}

.workcarousel {
  width: 100%;
}
.workcarousel .stream-links {
  display: flex;
  justify-content: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  filter: brightness(1.4);
}

.swiper {
  width: 100%;
  max-width: 210px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: #464758;
}
.swiper-slide .img {
  border-radius: 18px;
  margin-bottom: 40px;
}

.swiper-pagination {
  top: 270px !important;
}

footer ul {
  list-style-type: none;
  padding: 0;
  line-height: 3.4rem;
}
footer h2 {
  font-weight: 700;
  font-size: 2rem;
}
footer li {
  font-weight: 600;
}
footer a {
  color: #000000;
}

.footer-content {
  font-size: 1.3rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.footer-logo {
  width: 155px;
  height: 64px;
}

.footer-menu {
  text-align: left;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  font-size: 2rem;
}

.footer-social-icon {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #37c1fd;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 10px;
  background: #e0e0e0;
}

.phone2 {
  background-color: #000000;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.facebook {
  background-color: #4267b2;
  font-size: 2rem;
  color: white;
}

.instagram {
  background-color: #e1306c;
  font-size: 2rem;
  color: white;
}

.youtube {
  background-color: #bf0404;
  font-size: 2rem;
  color: white;
}

@media (max-width: 991px) {
  .footer-logo {
    width: 150px;
    height: 63px;
  }
  .footer-menu {
    align-items: center;
    text-align: center;
  }
  .footer-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.map iframe {
  max-width: 56rem;
  height: 30rem;
  width: 100%;
  border-radius: 2rem;
}

.services .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 575px) {
  .services .container-fluid {
    padding-right: 0.3rem;
  }
}
#studio p {
  font-size: 1.4rem;
}
#studio .studio-container {
  background-color: #212529;
  max-width: 1030px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#studio .studio-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  row-gap: 2rem;
  border-color: #000;
  border-width: 2rem;
}
#studio .studio-photo-container {
  background-color: #212529;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#studio .studio-photo-container {
  padding: 3rem;
  background-color: #1c1f23;
}
#studio img {
  width: 100%;
  max-width: 600px;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#studio #second, #studio #third {
  display: none;
}
#studio input {
  width: 100%;
  height: 100%;
  outline-style: none;
  border-radius: 1rem;
}

@media (max-width: 575px) {
  #studio .container {
    padding-left: 0;
    padding-right: 0;
  }
  #studio .studio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0;
  }
  #studio .btn {
    padding: 2.75rem;
  }
}
@media (max-width: 2200px) {
  #studio .studio-buttons {
    row-gap: 5rem;
  }
}
@media (max-width: 1400px) {
  #studio .studio-buttons {
    row-gap: 3rem;
  }
}
@media (max-width: 1200px) {
  #studio .studio-buttons {
    row-gap: 2rem;
  }
}
@media (max-width: 991px) {
  #studio .studio-buttons {
    row-gap: 4rem;
  }
}
.youtube-container .swiper {
  width: 100%;
  height: 100%;
}
.youtube-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.youtube-container .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.youtube-container .swiper-slide {
  background-size: cover;
  background-position: center;
}
.youtube-container .mySwiper3 {
  height: 80%;
  width: 100%;
}
.youtube-container .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.youtube-container .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.youtube-container .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.youtube-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */